.review-form{
    margin: 25px;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: cneter;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
}

.separate-input{
    display: flex;
    padding: .5rem;
    flex-direction: column;
}